{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>About</h1>
    <p>Check out my <a href="/">Home</a> page.</p>
    <p style="color:#355872;font-size:1.2rem;">Novalife is a surrogacy web app connecting intending 
        parents with verified surrogate mothers and sperm donors through
         a secure, compassionate digital platform.<br> Users build detailed profiles,
          state preferences, and use intelligent matching tools based on criteria like 
          medical history, values, location, and legal preparedness. Novalife emphasizes 
          safety via identity checks, clinic-validated documents, consent-based data 
          sharing, and encrypted communication. The app offers educational resources 
          covering fertility care, psychological readiness, ethics, and regulations,
           helping users make informed decisions. <br>Integrated scheduling supports
            consultations with doctors, counselors, and legal experts. Community features, 
            including moderated forums and testimonials, nurture trust and reduce stigma. 
            Transparent payment milestones, agreements, and progress tracking simplify a 
            complex journey. <br>Designed with empathy, privacy, and inclusivity at its core,
             Novalife broadens access to family-building options while maintaining ethical 
             standards and compliance. By blending technology with human care, it empowers 
             individuals and couples
         to pursue parenthood confidently, responsibly, and with clarity together.</p>

{% endblock %}